@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  /* COLORS */

  --colour-seasalt-white: #fafafa;
  --colour-rasin-black: #1e212b;
  --colour-chinese-violet: #7e6b8f;
  --colour-amaranth-red: ##da3e52;
  --colour-coral-orange: #fc7753;

  --colour-main: var(--colour-seasalt-white);
  --colour-primary: var(--colour-chinese-violet);
  --colour-secondary: var(--colour-amaranth-red);

  --color-text-main: var(--colour-rasin-black);
  --color-text-primary: var(--colour-seasalt-white);
  --color-text-secondary: var(--colour-seasalt-white);

  /* Fonts */
  --font-sm: 1rem;
  --font-med: 1.5rem;
  --font-lrg: 2rem;
  --font-xl: 3rem;
  --font-xxl: 4rem;

  --font-family-default: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--colour-main);
  font-size: 16px;
  font-family: var(--font-family-default);
  font-weight: 300;
}
body strong {
  font-weight: 700;
}
body h1 {
  font-size: var(--font-lrg);
}
body h2 {
  font-size: var(--font-med);
}
body p {
  font-size: var(--font-sm);
}
